body {
    background: url("../images/double-bubble-outline.png");
}

.archiveBody {
    background-image: url("../images/archiveImg_2.jpg");
    background-attachment: fixed;
    background-size: 100%;
    no-repeat: center top;
    font: 14px/1.5 Tahoma, Helvetica, Arial, '宋体', sans-serif;
    height: 100%;
    width: 100%;
}

.loginBody {
    background-image: url("../images/loginImg.jpg");
    background-attachment: fixed;
    background-size: 100%;
    no-repeat: center top;
    font: 14px/1.5 Tahoma, Helvetica, Arial, '宋体', sans-serif;
    height: 100%;
    width: 100%;
}

.friendBody {
    background-image: url("../images/friendImg.jpg");
    background-attachment: fixed;
    background-size: 100%;
    no-repeat: center top;
    font: 14px/1.5 Tahoma, Helvetica, Arial, '宋体', sans-serif;
    height: 100%;
    width: 100%;
}

/*导航栏样式*/
.gird-header {
    width: 100%;
    min-height: 60px;
    opacity: 0.6;
    position: fixed;
    background-color: rgba(0, 0, 0, 1);
    z-index: 11002;
    top: 0;
    left: 0;
    /*border-bottom: 1px solid #e8e9e7;*/
    font-size: 15px;
}

/*上下左右边距设置*/
.m-padded-mini {
    padding: 0.2em !important;
}

.m-padded-tiny {
    padding: 0.3em !important;
}

.m-padded-small {
    padding: 0.5em !important;
}

.m-padded {
    padding: 1em !important;
}

/*设置很小的mapping*/
.m-padded-tb-mini {
    padding-top: 0.2em !important; /* 1em=14像素 */
    padding-bottom: 0.2em !important;
}

.m-padded-tb-tiny {
    padding-top: 0.3em !important; /* 1em=14像素 */
    padding-bottom: 0.3em !important;
}

.m-padded-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.m-padded-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

/*设置中等的mapping*/
.m-padded-tb-medium {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

/*设置第三大的mapping*/
.m-padded-tb-big {
    padding-top: 6em !important;
    padding-bottom: 4.2em !important;
}

/*设置第二大的mapping*/
.m-padded-tb-huge {
    padding-top: 4.5em !important;
    padding-bottom: 4.5em !important;
}

/*设置很大的mapping*/
.m-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.m-padded-lr {
    padding-left: 4em !important;
    padding-right: 4em !important;
}

.m-padded-tb-large {
    padding-top: 3em !important;
    padding-bottom: 2em !important;
}

.m-padded-tb-hugex {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.m-padded-tb-massivex {
    padding-top: 3em !important;
    padding-bottom: 6em !important;
}

.m-padded-lr-responsive {
    padding-left: 4em !important;
    padding-right: 4em !important;
}


/*----------设置字粗细-----------*/
.m-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8;
}

.m-text-thin {
    font-weight: 300 !important;
}

/*设置字间距*/
.m-text-spaced {
    letter-spacing: 1px !important;
}

/*设置行间距*/
.m-text-lined {
    line-height: 1.8 !important;
}

.m-text-header-thin {
    font-weight: 400 !important;
}


/*设置字体透明度*/
.m-opacity-mini {
    opacity: 0.8 !important;
}

.m-opacity-tiny {
    opacity: 0.6 !important;
}


/*display: 调整为一行制*/
.m-inline-block {
    display: inline-block !important;
}

.m-container-small {
    max-width: 60em !important;
    margin: auto !important;
}

.m-container {
    max-width: 70em !important;
    margin: auto !important;
}

.m-container-mm {
    max-width: 66em !important;
    margin: auto !important;
}

.m-container-muddle {
    max-width: 72em !important;
    margin: auto !important;
}

.m-container-alter {
    max-width: 86em !important;
    margin: auto !important;
}

.m-container-plus {
    max-width: 82em !important;
    margin: auto !important;
}

.m-container-large {
    max-width: 76em !important;
    margin: auto !important;
}

.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.m-margin-tb {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.m-margin-tb-large {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}

.m-margin-left-mini {
    margin-left: 4em !important;
}

.m-margin-left-big {
    margin-left: 8em !important;
}

.m-margin-lr-tiny {
    margin-left: 0.3em !important;
    margin-right: 0.3em !important;
}

.m-margin-lr {
    margin-left: 1em !important;
    margin-right: 1em !important;
}

.m-margin-lr-large {
    margin-left: 2em !important;
    margin-right: 2em !important;
}

.m-margin-top-small {
    margin-top: 0.5em !important;
}

.m-margin-top {
    margin-top: 1em !important;
}

.m-margin-top-large {
    margin-top: 2em !important;
}

.m-margin- {
    margin-top: -4em !important;
}

.m-margin-- {
    margin-top: -89px !important;
}


.m-black {
    color: #333 !important;
}


.m-top-right {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}

.m-mobile-show { /*这个在上面*/
    display: none !important;
}

@media screen and (max-width: 768px) {
    .m-mobile-hide {
        display: none !important;
    }

    .m-mobile-show { /*这个在下面*/
        display: block !important;
    }

    .m-padded-lr-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .m-mobile-lr-clear {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .m-mobile-wide {
        width: 100% !important;
    }
}

.m-margin-buttom-mini {
    margin-bottom: 0.5em !important;
}

.m-margin-buttom-middle {
    margin-bottom: 1em !important;
}

.m-margin-buttom-large {
    margin-bottom: 2em !important;
}

.m-margin-top-mini {
    margin-top: 0.2em !important;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.m-fixed {
    position: fixed !important;
    z-index: 10 !important;
}

.m-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}

dt {
    width: 11em;
}

dd {
    margin: -1.5em 0 1em 0;
    padding: 0 0 1em 12em;
    border-bottom: 1px solid #ccc;
}

#submitform {
    width: 320px;
    text-align: right;
}

#SaveAccount {
    margin: 10px 0 0 0;
}

fieldset {
    width: 320px;
}

legend {
    font-size: 1.6em;
    padding: 10px 0px;
    color: #b0232a;
    font-weight: bold;
}

.prev, .next {
    background-color: #b0232a;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}

.prev:hover, .next:hover {
    background-color: #000;
    text-decoration: none;
}

.prev {
    float: left;
}

.next {
    float: right;
}

#steps {
    list-style: none;
    width: 100%;
    overflow: hidden;
}

#steps li {
    font-size: 24px;
    float: left;
    padding: 10px;
    color: #b0b1b3;
}

#steps li span {
    font-size: 11px;
    display: block;
}

#steps li.current {
    color: #000;
}

#makeWizard {
    background-color: #b0232a;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 18px;
}

#makeWizard:hover {
    background-color: #000;
}

/*------position---*/

.m-right-top {
    position: absolute;
    top: 0;
    right: 0;
}

.m-left-top {
    position: absolute;
    top: 0;
    left: 0;
}

/*-----opacity------*/

.m-opacity {
    /*最新推荐下面整体的不透明度*/
    opacity: 0.9 !important;
    /*opacity: 0.9 !important;*/
}

.m-opacityFriendImg {
    /*最新推荐下面整体的不透明度*/
    opacity: 1 !important;
    /*opacity: 0.9 !important;*/
}

.m-opacityImg {

    opacity: 1 !important;
    /*opacity: 0.9 !important;*/
}

.m-opacity-mini {
    opacity: 0.8 !important;
}

.m-opacity-tiny {
    opacity: 0.6 !important;
}

.m-opacity-small {
    opacity: 0.4 !important;
}

.transparent-segment.segment {
    background-color: rgba(255, 255, 255, 0.8); /* 这里的0.5表示50%的透明度 */
}

/* 默认状态下，爱心图标 */
.ui.icon.like-button .heart.outline.icon {
    color: initial; /* 使用Semantic UI的默认颜色 */
}

/* 点击后爱心变红 */
.ui.icon.like-button.Red .heart.outline.icon {
    color: red !important;
}

.error-message-container {
    display: inline-block;
    margin-left: 10px;
    color: red;
}

/*----------友人帐---------*/

.friends-link-image {
    width: 160px;
    height: 170px;
    border-radius: 8px 8px 0px 0px;

}

.box-shadow-max {
    margin-bottom: 15px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .05);
    -webkit-box-shadow: #000000 0px 0px 10px;
    -moz-box-shadow: #000000 0px 0px 10px;
}

/*-------picture-----*/

.thumb {
    margin-bottom: 0.2em !important;
    margin-top: 0.2em !important;
}

/* 对于最后一个.thumb元素，取消右边的空白 */
.thumb:last-child {
    margin-right: 0 !important;
}

/*-------font-----*/

.m-font-size-title-large {
    font-size: 45px;
    color: #ffffff;
    font-family: STSong;
}

.m-font-size-title-mediul {
    font-size: 30px;
    color: #ffffff;
    font-family: STSong;
}

.m-font-size-title {
    font-size: 450%;
    color: #ffffff;
}

.m-font-size-text {
    font-size: 30px;
    color: #ffffff;
    /*font-family: STXihei;*/
}

.m-font-size-blog-text {
    font-size: 18px;
    color: #ffffff;
    font-family: STSong;
}

.m-font-size-text-friends {
    font-size: 16px;
    color: #000000;
    font-family: STSong;
}

.m-font-size-text-mini {
    font-size: 16px;
    color: #ffffff;
}

.m-font-size-text-init-title {
    font-size: 24px;
    color: #fffffc;
    align-content: center;
    font-family: 'STXingkai';
}


/*-----------遮罩层----------*/

.class_outer {
    display: block;
    /*width: 550px;*/
    /*height: 276px;*/
    margin: 10px auto 0;
    position: relative;
    overflow: hidden;
}

.class_cover {
    width: 100%;
    height: 40px;
    line-height: 50px;
    padding-left: 6px;
    background-color: rgba(0, 0, 0, .60);
    /*color: #FFFFFF;*/
    /*font-size: 26px;*/
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.m-bg-class_outer {
    display: block;
    /*width: 550px;*/
    /*height: 276px;*/
    /*margin: 10px auto 0 0;*/
    position: relative;
    overflow: hidden;
}

.m-bg-type_outer {
    display: block;
    /*margin: 10px auto 0 0;*/
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.m-bg-class_coverIndex {
    width: 100%;
    height: 800px;
    line-height: 50px;
    padding-left: 6px;
    /*这里是阴影设置的颜色做后一个0是阴影不透明度*/
    background-color: rgba(0, 0, 0, 0);
    /*background-color: rgba(0, 0, 0, .60);*/
    /*color: #FFFFFF;*/
    /*font-size: 26px;*/
    position: absolute;
    left: 0px;
    bottom: 0px;
}


.m-bg-class_cover {
    width: 100%;
    height: 800px;
    line-height: 50px;
    padding-left: 6px;
    /*这里是阴影设置的颜色做后一个0是阴影不透明度*/
    /*background-color: rgba(0, 0, 0, 0);*/
    background-color: rgba(0, 0, 0, .30);
    /*color: #FFFFFF;*/
    /*font-size: 26px;*/
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.m-bg-class_coverPicture {
    width: 100%;
    height: 200px;
    /*这里是阴影设置的颜色做后一个0是阴影不透明度*/
    /*background-color: rgba(0, 0, 0, 0);*/
    background-color: rgba(0, 0, 0, .25);
    /*color: #FFFFFF;*/
    /*font-size: 26px;*/
    left: 0px;
    bottom: 0px;
}

.m-bg-class_coverBlog {
    width: 100%;
    height: 800px;
    line-height: 50px;
    padding-left: 6px;
    /*这里是阴影设置的颜色做后一个0是阴影不透明度*/
    /*background-color: rgba(0, 0, 0, 0);*/
    background-color: rgba(0, 0, 0, .50);
    /*color: #FFFFFF;*/
    /*font-size: 26px;*/
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.m-picture-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    /*font-family: '_GB2312 FangSong_GB2312';*/
}