<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>写贴记录</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <!--    <link href="../static/css/app.css" rel="stylesheet">-->
    <!--    <link href="../static/css/style.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/css/timeline.css" th:href="@{/css/timeline.css}">
</head>
<body class="archiveBody">

<!--导航-->
<nav th:replace="_fragments_login :: menu(4)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container"> <!-- 加一个容器 -->
        <div class="ui inverted secondary stackable menu"> <!-- 菜单 stackable:可堆叠的,表示屏幕小时自动堆叠-->
            <h2 class="ui white header item">GuideSystem</h2> <!-- 蓝绿色标题 -->
            <a href="#" class="m-item m-mobile-hide item"><i class="home icon"></i>首页</a> <!-- icon表示图表 -->
            <a href="#" class="m-item m-mobile-hide item"><i class="edit outline icon"></i>记录</a>
            <a href="#" class="m-item m-mobile-hide item"><i class="info icon"></i>我的</a>
            <div class="m-top-right m-mobile-hide item m-item" style="margin-top: 5px"> <!-- 靠右 -->
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../static/images/店铺1.jpg" th:src="@{/images/IMG_6361.JPG}"
                             alt="" class="ui avatar image">
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/login/exit}" class="item">足迹</a>
                        <a href="#" th:href="@{/login}" class="item">我的</a>
                        <a href="#" th:href="@{/edit/password}" class="item">修改密码</a>
                        <a href="#" th:href="@{/login/exit}" class="item">退出</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black button icon m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--时间轴内容-->
<div class="doc-container m-padded-tb-massivex m-opacity" id="doc-container">
    <th:block>
        <section class="timeline">
            <ul>
                <li class="" th:each="blog : ${myBlogs}">
                    <div>
                        <time th:text="${#dates.format(blog.createTime,'yyyy-MM-dd')}">2020/01/01</time>
                        <div class="scientist">
                            <a href="#" target="_blank" th:href="@{/user_blog/{id}(id=${blog.id})}">
                                <h3 class="state" style="text-align:center;font-size: 16px;color: #000;"
                                    th:text="${blog.title}">文章标题</h3>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </th:block>
</div>

<th:block th:replace="_fragments_login :: script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../static/lib/timeline/timeline.js" th:src="@{/lib/timeline/timeline.js}"></script>
    <script src="../static/lib/waypoints/jquery.waypoints.min.js"
            th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>
</th:block>

<!--第一种多人物的看板娘，缓存慢-->
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css"/>
<script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget/autoload.js"></script>

</body>
</html>